@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
body {
    background-color: #EFEFEF;
    font-family: 'Karla', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 700px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #A90404;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 600px;
height: 180px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: left;
margin-bottom: 27px;
font-family: 'Karla', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
 width: 600px;
 height: 100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: left;
margin-bottom: 27px;
font-family: 'Karla', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #A90404, #E93131);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Karla', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
}
}

.button {
    background-color: #A90404;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
  }



 *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
}

.container {
  padding: 2.5rem 3rem;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: white;
}

nav h1 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
}

nav button,
nav ul {
  margin-left: auto;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  height: 2px;
  background-color: rgb(68, 68, 68);
  width: 20px;
  display: block;
  margin-top: 4px;
}

nav button span:first-child {
  width: 15px;
}

nav button span:last-child {
  width: 15px;
}

nav ul {
  display: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.responsive-nav {
  position: absolute;
  top: -10%;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  transition: all 500ms ease-out;
  z-index: 1;
}

.responsive-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 3rem 0;
  color: #222;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.responsive-nav-active {
  top: 5% !important;
}

/* @media (min-width: 1024px) {
  nav button,
  .responsive-nav {
    display: none;
  }
  nav ul {
    display: block;
  }
  .container {
    padding: 2.5rem 10rem;
  }
  html {
    font-size: 72.5%;
  }
} */